@model project.Models.CursoProfe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>¿Realmente quiere eliminar este grupo?</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index",null, new { @class="btn btn-dark"})
        </div>
    }
</div>
