@{
    ViewBag.Title = "Contact";
}

<div>
    <div class="card mt-5">
        <div class="card-header">
   <h5> Contacto</h5>
  </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    
                   

                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit condimentum molestie. Sed molestie condimentum accumsan. In hac habitasse platea dictumst. Suspendisse congue dui id nisl hendrerit, in malesuada nisi ultrices. Vestibulum faucibus quis nulla quis imperdiet. Praesent at enim vel dolor varius varius. Sed eleifend viverra ipsum, in faucibus metus mattis at. Donec non risus eleifend, varius nisl vel, ultricies libero. Aliquam vitae libero placerat, fermentum justo sed, euismod ante.
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Repositorio del proyecto: </h5>
                            <p class="card-text">Accede al respositorio para ver el código fuente de la página</p>
                            <a href="#" class="btn btn-outline-dark">Ver en Github</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>