@{
    ViewBag.Title = "Contact";
}

<div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    
                   

                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit condimentum molestie. Sed molestie condimentum accumsan. In hac habitasse platea dictumst. Suspendisse congue dui id nisl hendrerit, in malesuada nisi ultrices. Vestibulum faucibus quis nulla quis imperdiet. Praesent at enim vel dolor varius varius. Sed eleifend viverra ipsum, in faucibus metus mattis at. Donec non risus eleifend, varius nisl vel, ultricies libero. Aliquam vitae libero placerat, fermentum justo sed, euismod ante.

Aenean malesuada, mi at elementum pharetra, tortor lorem vehicula orci, ut pellentesque lorem tortor at mi. Integer et augue diam. Phasellus a malesuada arcu. Aliquam tincidunt feugiat ultrices. Donec ac sem sed elit mattis mollis eu nec ligula. Sed maximus tincidunt dolor, vitae faucibus risus blandit sed. Cras sed maximus purus. Etiam tempor mi semper odio auctor auctor quis eu quam. Cras a tellus sit amet odio tempor rhoncus rutrum nec nulla. Vivamus viverra ante quis tellus laoreet, non sagittis nisl aliquam. Praesent non iaculis leo. Proin gravida rhoncus arcu, quis condimentum lacus cursus vel. Vivamus auctor ipsum scelerisque, rutrum dolor et, ullamcorper est.

Mauris consequat massa et leo interdum, vel dictum lectus suscipit. Praesent ac risus finibus, congue purus at, euismod lectus. Pellentesque nisl velit, pharetra a odio eu, posuere faucibus magna. Ut fermentum arcu in risus feugiat molestie eget et leo. Cras rhoncus dui ac dignissim ullamcorper. Donec quis nisl porttitor, maximus leo sit amet, hendrerit purus. Donec augue massa, tempor in suscipit at, auctor malesuada ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent id dui id risus vehicula tristique. Nam sit amet aliquet leo, et finibus leo. In luctus placerat sodales. Mauris pulvinar odio quis fringilla blandit. Aliquam varius justo vitae gravida consectetur.

Nunc sit amet est at arcu euismod vestibulum nec eget diam. Nullam facilisis efficitur felis vel consequat. Morbi quis luctus mauris. Aliquam venenatis quis ipsum facilisis vestibulum. Maecenas lobortis, enim vitae malesuada molestie, felis nunc mollis leo, sit amet semper nibh neque at dolor. Aenean maximus purus augue, nec posuere massa semper quis. Vivamus vulputate arcu sapien, vel porta dui fringilla sagittis. Sed vehicula lorem in nulla tincidunt, eu elementum nisi scelerisque. Nam non mi at elit tincidunt consectetur. Aenean vitae gravida augue, eu congue orci. Nunc sodales porta nulla, a elementum lorem cursus sed. Proin id convallis lacus. Ut id nibh feugiat, euismod ante vel, tincidunt erat. Suspendisse potenti. Suspendisse dignissim scelerisque erat, sed dignissim sem fringilla ornare. Phasellus lectus elit, aliquam sed nulla vitae, porttitor dapibus felis.

Nunc viverra vestibulum condimentum. Donec vitae tellus eget augue viverra efficitur. Aliquam faucibus risus a massa posuere, ut porta orci fermentum. Duis tempus sed risus at cursus. Praesent mollis molestie lectus nec congue. Vivamus rhoncus a nisl sit amet blandit. Proin a velit consectetur, condimentum mauris sed, accumsan ipsum. Nam eu scelerisque purus. Nunc enim diam, fermentum vel tincidunt at, mattis id orci. Curabitur aliquet, nisi sed volutpat accumsan, est nisi scelerisque tortor, quis faucibus ante dolor non libero. Praesent mi lacus, pretium ut metus a, ullamcorper varius enim. Duis pulvinar diam odio, ut porttitor neque bibendum eget. Donec ac tortor vel sapien eleifend pellentesque. Curabitur malesuada euismod erat at faucibus. Curabitur ut dui augue. Morbi elit ipsum, lobortis sit amet ipsum non, finibus dapibus quam.
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Repositorio del proyecto: </h5>
                            <p class="card-text">Accede al respositorio para ver el código fuente de la página</p>
                            <a href="#" class="btn btn-outline-dark">Ver en Github</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>