
@model ApplicationUser

@{
    ViewBag.Title = "Details";
}

<br>
<center>
<h2>Detalles de usuario</h2>
</center>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Correo electrónico:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>


<br>
<h4>Roles asignados a este usuario:</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No roles found for this user.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>

<br>
<p>
    @Html.ActionLink("Volver atrás", "Index", null,new { @class="btn btn-dark"})
</p>



