@model project.Models.Curso

@{
    ViewData["Title"] = "Create";
}

    <br>
    <center>
    <h2>Añadir curso</h2>
    </center>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoCurso" class="control-label"></label>
                <input asp-for="CodigoCurso" class="form-control" />
                <span asp-validation-for="CodigoCurso" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="NombreCurso" class="control-label"></label>
                <input asp-for="NombreCurso" class="form-control" />
                <span asp-validation-for="NombreCurso" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="DescripcionCurso" class="control-label"></label>
                <input asp-for="DescripcionCurso" class="form-control" />
                <span asp-validation-for="DescripcionCurso" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<br>
<div>
    <a asp-action="Index">Volver atrás</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
